params {
  // IO
  samplesheet = "/Users/timbarry/research_code/genethoff-nf/datasheet.tsv"
  outdir = "/Users/timbarry/Desktop"
  index = "/Users/timbarry/research_offsite/external/bauer-lab/guideseq_genethoff/fastq/hg38_main_chroms"
  
  // Alignment Parameters
  min_length = 25
  min_frag_length = 100
  max_frag_length = 1500
  rescue_R2 = true
  minMAPQ = 20
  
  // UMI Parameters
  umi_hamming_distance = 0
  umi_deduplication = "Adjacency"
  umi_pattern = "NNNNNNNNN"
  umi_length = 9
  umi_filter = true
  umi_side = "5"
  minReadsPerUMI = 1
  
  // Adapter sequences
  primer {
    positive {
      R1_trailing = "GTTTAATTGAGTTGTCATATGT"
      R2_leading = "ACATATGACAACTCAATTAAAC"
      R2_trailing = "AGATCGGAAGAGCGTCGTGT"
    }
    negative {
      R1_trailing = "ATACCGTTATTAACATATGACAACTCAA"
      R2_leading = "TTGAGTTGTCATATGTTAATAACGGTAT"
      R2_trailing = "AGATCGGAAGAGCGTCGTGT"
    }
  }
}