params {
  // IO
  samplesheet = "/Users/timbarry/research_code/genethoff-nf/demo/samplesheet.tsv"
  outdir = "/Users/timbarry/research_code/genethoff-nf/demo/results"
  index = "/Users/timbarry/research_offsite/ref_genome_dir/hg38_main_chroms"
  
  // Alignment Parameters
  min_length = 25
  min_frag_length = 100
  max_frag_length = 1500
  min_mapq = 20
  keep_multimapped_reads = false
  
  // UMI Parameters
  umi_length = 9
  umi_side = "3"
  
  // Adapter sequences
  primer {
    R2_trailing = "CTGTCTCTTATACAC"
  }
}

conda {
  enabled = true
}

process {
  conda = params.conda_env
}